@import "tailwindcss";

/* Global styles for the entire app */
body {
  background-color: #121212; /* Dark background */
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}
